.main{
    width: 100%;
    display: flex;
    height: 700px;
    border: 2px solid black;
}

.left{
    display: flex;
    flex-direction: column;
    background-color: white;
    /* width: 15%; */
    row-gap: 25px;
    flex: 1;
   

}

.logo{
    display: flex;
    gap: 10px;
    padding: 10px 10px;
}
.logo img{
    width: 40px;
}

#logo-name{
    color: rgb(77, 113, 180);
    margin-top: 20px;
}

.left-options{
    display: flex;
    padding: 10px 15px;

}

.left-options ul{
     gap: 15px;
     margin-top: 25px;
}
.left-options ul li{
  
    list-style: none;
        margin-top: 25px;

   
}

.left-options ul li a{
    text-decoration: none;

}

.left-options ul li a img{
    width: 15px;
    margin-right: 10px;
}

.left-options ul #space{
    margin-top: 60px;
}

.end{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
     justify-content: center;
}
.end-image{
    padding: 0 10px;
}
.end-image img{
    width: 160px;
}

.end-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.end-content a{
    text-decoration: none;
    color: rgb(77, 113, 180);
    margin-top: 10px;
    font-size: 15px;
}

.end-content p{
    font-size: 12px;
}

.middle{
    flex: 5;
    display: flex;
    flex-direction: column;
    border-left: 2px solid grey;
    
}

.search{
    display: flex;
    flex: 0.5;
    background-color: white;
    flex-direction: row;
    padding: 5px 30px;
    justify-content: space-between;

}

.text{
    margin-top: 10px;
    width: 70%;
    height: 27px;
    padding: 0px 5px;
    border: 2px solid grey;
   justify-content: center;
   background-color: white;
   border-radius: 5px;
   margin-left: 15px;

}

.text input{
   all: unset;
}

.text img{
    width: 15px;
    margin-right: 15px;
    margin-top: 2px;
}


.btn{

    padding: 10px 55px 0 0 ;

}

.btn button{
    width: 140px;
    padding: 6px 0px;
    background-color: rgb(75, 112, 180);
    border-radius: 5px;
    border: none;
}

.btn button img{
    width: 15px;
    margin-right: 5px;
    
}

.items{
    display: flex;
    flex: 0.5;
    background-color: white;
     padding: 5px 30px;
       align-items: center;
       justify-content: space-between;
   

}
.child{
    width: 120px;
    height: 30px;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    padding: 5px 0px 0px 10px;
    
}

.child img{
    width: 17px;
    margin-right: 7px;
}


.folders{
    flex: 2;
    background-color: blue;
}

.files{
    flex: 4;
    background-color: beige;
}




.right{
    flex: 2;
    background-color: green;
}